<body dir="rtl">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="tehulaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>חשבון</label>
          <input
            class="form-control"
            type="text"
            formControlName="account"
            required
          />
        </div>
        <div class="form-group">
          <label>שם משתמש</label>
          <input
            class="form-control"
            type="text"
            formControlName="username"
            required
          />
        </div>
        <div class="form-group">
          <label>סביבה</label>
          <br />
          <select
            class="form-control"
            type="text"
            formControlName="testEnvironment"
            required
          >
            <option value="QA">QA</option>
            <option value="test">test</option>
          </select>
        </div>

        <div class="form-group">
          <label>תיאור</label>
          <input
            class="form-control"
            type="text"
            formControlName="description"
            required
          />
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block mt-4" type="submit">
            הוסף תכולה
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
